@import "../../app.scss";

@font-face{
  font-family: KaushanScript;
  src: url(/fonts/KaushanScript-Regular.ttf) format('truetype');
  
}


.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100PX;
  padding-bottom: 100PX;
  background: #111132;

 

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      cursor: default;
      padding-top: 150px;

      .hack {
        position: absolute;
        top: 110px;
         
  @include bigscreen {
    h1{
      font-size: 90px;
display: flex;
transform: translateY(60px);
}
    
  }

  @include mobile {
    transform: translateY(-50px);
  }
      }

      .write {
        height: 100vh;
        width: 100%;
        span{
          color: rgb(0, 0, 0);
          transform: translateY(-15px);
          
          display: flex;
          z-index: 9999;
          position: absolute;

          @include mobile {
                      font-size: 55px;
                      display: flex;
                      bottom: 100px;
                      transform: translateX(60px);

          }

  @include bigscreen {
  font-weight: bold; /* Make text bold */
  color: black;
   font-size: 90px; 
   transform: translateY(50px);
  }
        }

        @include mobile {
          transform: translateX(-70px);
          
        }
      }

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;

      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        cursor: pointer;
        z-index: 99;
        position: absolute;
        top: 380px;

        

        @include mobile {
          display: none;
        }

        .button1 {
          padding: 20px;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 10px;
          color: rgb(255, 255, 255);
          background-color: #111132;
          cursor: pointer;
          font-weight: 300;
          z-index: 99;
          font-size: 20px;
          font-weight: 600;

          @include bigscreen {
            display: flex;
            transform: translateY(70px);
            cursor: pointer;
           }

          
        }

        .button1:hover{
          scale: 1.2;

          @include bigscreen {
           scale: 1.1;
           }
          
        }
    
      }

      img {
        width: 50px;
        padding-top: 80px;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    z-index:00000;
    bottom: -100px;
    white-space: nowrap;
    width: 50%;
    font-weight: bold;
    cursor: default;
    color: #3e30ff23; /* Blackish gradient */

    @include mobile {
          
          color: #ffffff6c; /* Blackish gradient */

    }
  }

  .spacontainer {
    position: absolute;
    top: 0;
    left: 400px;
    width: 100%;
    height: 100%;
    z-index: 999;

    .sperecon {
      position: relative;
      width: 100%;
      height: 100%;

      .dis {
        height: 100%;
        width: 100%;
        @include bigscreen {
          height: 105%;
          width: 105%;
          position: absolute;
          left: 0px;
          right: 100px;
           bottom:0px ;
        }
        

        @include tablet {
          display: none;
        }
      }

      .imagehome {
        background: url(/false2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        order:1;
        width: 400px;
          height: 400px;
        top: 70px;
        right: 450px;
        display: flex;
        justify-self: center;
        animation: profile_anime 5s ease-in-out infinite 1s;
        box-shadow: inset 0 0 0 15px rgb(128 0 128 / 30%);
        transform: translateX(-30px);

        @include mobile {
          height: 50%;
          width: 100%;
          top: unset;
          bottom: 0;
        }

          @include bigscreen {
            display: flex;
            transform: translateY(250px);
            transform: translateX(-100px);
            width: 700px;
            height: 700px;
            


           }
        
      }
    }
  }
}

@keyframes profile_anime {
  0% {
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
 }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.scrol1{
  position: absolute;
  bottom: 40px;
  @include bigscreen{
    position: absolute;
    bottom: 200px;
  }
}