/* src/JumpingLetters.css */

.jumping-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 6em;
    font-family: Arial, sans-serif;
    font-weight:700;
  }
  
  .letter {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
  }
  