@font-face{
    font-family: KaushanScript;
    src: url(/fonts/KaushanScript-Regular.ttf) format('truetype');
    
  }

.typing{
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-weight: 700;
    white-space: nowrap;
    z-index: 999;
    font-family: KaushanScript, cursive;

    @include mobile {
      font-size: 40px;
    }
  

}