html {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;

}



body {
  
  color: lightgray;
  background-color: #111132;

  
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (width: 1366px) {
    @content;
  }
}

@mixin bigscreen {
  @media (width: 1920px) {
    @content;
  }
}

h1{
  font-family: Eczar, cursive ;

  white-space:wrap;
  color:#d893ec ;
  font-weight: 700;
  font-style: italic;

}


.test1{
  height: 200vh;

}
#Homepage{
  position: sticky;
  top: 0;
}



 .coma{
  position: relative;
  height: 300vh;
}

.background-gradient {
  position: absolute;
  inset: 0;
  z-index: 50;
  max-height: 100vh;
  background: radial-gradient(
    circle at top center,
    hsla(0, 0%, 100%, 0.589) 0%, /* Brighter white at the center */
    hsla(0, 0%, 80%, 0.3) 25%, /* Softer light around the center */
    hsla(222, 0%, 0%, 0) 60%   /* Sharp fall-off to darkness */
  );
}




.background-noise {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 40;
  height: 100%;
  background-image: url('/noisetexture.jpg');
  opacity: 0.2;
  mix-blend-mode: soft-light;
}
